{% extends "base.html" %}
{% load static %}

{% block title %}
Lien de réinitialisation envoyé | Zara Store
{% endblock title %}

{% block content %}
<div class="row mt-2 p-2 justify-content-center">
    <div class="col-md-8 col-lg-6 bg-white p-2 m-2 text-center border border-light rounded">
        <h5 class="text-primary">Lien de réinitialisation envoyé</h5>
        <p>
            Un lien pour réinitialiser votre mot de passe vous a été envoyé.
        </p>
        <p>
            Vérifiez votre boîte de réception (et votre dossier spam si nécessaire) pour poursuivre la réinitialisation de votre mot de passe.
        </p>
    </div>
</div>
{% endblock content %}
